%form{action: playlists_path, method: :get}
  %label(for="playlist_order") Order by
  %select(name="playlist[order]" id="playlist_order")
    %option(value="all")
    %option(value="artist_name") Artist name
    %option(value="rating") Rating >=
  %select{name: "playlist[rating]", id: "playlist_rating", style: "display:none"}
    %option(selected="select")
    - 5.times do |i|
      %option= i+1
  %input(type="submit" value="Download playlist")

= link_to "Add New MP3", new_mp3_path

%table
  %tr
    - ["Title", "Artist", "URL", "Length"].each do |header|
      %th= header
  - mp3s.each do |mp3|
    %tr
      %td= link_to mp3.title, mp3
      %td= mp3.artist.full_name
      %td= mp3.url
      %td= pluralize(mp3.length, 'second')
