= link_to "Back to mp3's", :back
= form_for mp3 do |f|
  %fieldset
    - (1..5).each do |rating|
      %label
        = radio_button_tag "mp3[ratings_attributes][][score]", rating
        = rating
  %fieldset.actions
    = f.submit "Rate", class: "button"

%dl
  %dt Title
  %dd= mp3.title

  %dt Artist
  %dd= mp3.artist.full_name

  %dt URL
  %dd= mp3.url

  %dt Length in seconds
  %dd= mp3.length

  %dt Average rating
  %dd= mp3.average_rating

= link_to "Remove", mp3_path(mp3), method: :delete, class: "button remove"

